#window {
    background-color: #2c2f33;
}

#left-label {
    margin-top: 100px;
    color: white; 
    font-size: 21px;
}

/* Style pour le label à droite */
#right-label {
    margin-left: 550px;
    margin-top: 100px;
    color: white; 
    font-size: 21px; 
}

#search_entry {
    background-color: transparent;
    border: 2px solid #FFFFFF; 
    border-radius: 10px;
    padding: 10px;
    /*margin-top: 20px;*/ 
    color: #FFFFFF;
    outline-width: 0;
    font-size: 23px;
} 

#image {
    margin-top: 70px;
    opacity: 1;
    animation: waveAnimation 5s linear infinite; 
}

/*
#search_button {
    color: black;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;

}
*/
#image::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, white 40%, white 60%, transparent 100%);
    animation: waveMove 5s linear infinite;
}

@keyframes waveAnimation {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}


#common-checkbox {
    color: white;
    font-size: 25px;
    -GtkWidget-min-content-width: 24px;
    -GtkWidget-min-content-height: 24px;
}